:root
	--font-color: #fff
	--background-color: #051937
	--gradient: linear-gradient(to right top, #051937, #2b3466, #5a5097, #936bc7, #d384f3)
	--big-font: 32px
	--small-font: 14px
	--big-margin: 30px
	--medium-margin: 20px